.carousel {
  .carousel_item {
    padding-right: 15px;
    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.2),
      0 6px 50px 0 rgba(0, 0, 0, 0.19);
    .carousel_image {
      height: 250px;
      background: lightblue url(../images/teacher1.jpg) center;
      background-size: 300px 250px;
    }
    .carousel_info {
      text-align: center;
      background-color: #1976d2;
      padding: 2%;
      color: white;
      font-family: Raleway;
    }
    .carousel_image2 {
      height: 250px;
      background: lightblue url(../images/teacher2.jpg) center;
      background-size: 300px 250px;
    }
    .carousel_info2 {
      text-align: center;
      background-color: burlywood;
      padding: 2%;
      color: white;
      font-family: Raleway;
    }
  }
}
